{% extends "index.html" %}
{% block title %}
    about me |{{ block.super }}
{% endblock %}
{% block content %}
    <header class="intro-header" style="background-image: url('media/img/testabout.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-sm-7">
                        <ul>
                            <li>
                                <p>I am Amr Anwar -- 21 years old,
                                Passionate about coding specially anything related to the Web, always open to learn more.</p>
                            </li>
                            <li>
                                <p>I can develop Websites & APIs using Python Frameworks like Django</p>

                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-5">
                        <p><img class="img-responsive" src="{{ '/media/img/me.jpg' }}" alt="Chania">
                        </p>
                    </div>
                </div>
                <div class="row">
                 <ul>
                        <li> Some Of My Personal Projects using Django and Django Rest Api Framework as Backend,
                            the frontend by me using Bootstrap and Jquery
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <a target="_blank" href="http://amranwar.pythonanywhere.com/"><h3 class="project-name">Simple SocialMedia</h3></a>
                                    <p>user can create posts and follow, like users posts and more </p>
                                    <a target="_blank" href="https://github.com/AmrAnwar/simple-SocialMedia" class="btn btn-primary" role="button">Code</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <a target="_blank" href="#"><h3 class="project-name">ToDoList for Project Management</h3></a>

                                    <p>Trying to build website similar to taiga.io<br>
                                    Create list, lists have tasks each task has status, points, files, sublists & more </p>
                                    <a target="_blank" href="https://github.com/AmrAnwar/ToDoList_Django_Project" class="btn btn-primary" role="button">Code</a>
                                    <a target="_blank" href="https://github.com/AmrAnwar/ToDoList_Django_RestAPI_Project" class="btn btn-primary" role="button">Api Code</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>Ask site</h3>
                                    <p>Trying to build site like Ask.fm .</p>
                                    <a target="_blank" href="https://github.com/AmrAnwar/today-Ask-site" class="btn btn-primary" role="button">Code</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </ul>
                    </div>

                <div class="row">
                <hr>
                    <div class="col-sm-11 col-sm-offset-1">
                        <ul>


                            <li>
                                <p><em>Want to work together? </em> <a href="mailto:amranwar945@gmail.com"> I’d like to
                                    hear
                                    from you. </a>
                                </p>
                            </li>
                            <a target="_blank"  href="https://docs.google.com/document/d/1DihpRFkhPU3y4EFr9EmN4s2YkhuFStOVxHEvP0jC8c8" class="project-name">
                            <li><i class="fa fa-file"></i>
                My Cv For More Technical Info About me

                            </li>
                            </a>
                            <br>
                            <li>
                                Contact Info:
                                <ul>
                                    <li>email : amranwar945@gmail.com</li>
                                    <li>phone: +974 3115 2704</li>
                                    <li>my social media accounts in the blog footer</li>
                                </ul>
                            </li>

                            <li>
                                <p>Apart from technology,I am interested in everything related to Japan and their culture
                                </p>

                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <hr>
{% endblock %}